/* Root color */

:root {
    --bg-color: #f5df4e;
    --text-black-color: #212529;
    --secondry-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondry-font: 'Quicksand', sans-serif;
  }
  a {
    text-decoration: none;
  }

/* NavBar */
.navbar{
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(32, 32, 32, 0.129);
    background-color: var(--bg-color);
}

.highlite {
  background-color: var(--bg-color);
  display: inline-block;
  margin-top: 80px;
}

/* cover section */
#home {
    background-color:var(--bg-color) ;
    color: var(--text-black-color);
  }
  .large-heading {
    font-size: 5rem;
  }
 
  .cover-img  img{
    border: 20px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 90%;
    margin-top: 2rem;
  }
  .btn-main {
    background-color: var(--text-black-color);
    padding: 10px 50px;
  }
  .btn-main:hover {
    background-color: rgb(167, 95, 90);
    transition: 0.5s;
  }
  .btn-download {
    border: 2px solid var(--text-black-color);
    color:  var(--text-black-color);
    padding: 10px 50px;
  }
  .btn-download:hover {
    background-color: var(--text-black-color);
    color: white;
    transition: 0.5s;
  }
  /* About Section */
  .experience {
    background-color: var(--bg-color);
    margin: auto;
    height: 110px;
    width: 110px;
    border-radius: 50%;
  }
  .experience-time {
    font-size: 5rem;
  }
  /* Resume */
  .progres {
    background-color: var(--bg-color);
  }
 /* Portfolio Section */
 .control ul li {
  list-style: none;
  padding: 5px 15px;
  color: rgb(87, 48, 48);
  display: inline-block;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bolder;

}
.control ul li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--bg-color);
  
}
.item {
  transition: all .2s ease-in-out;
}
.item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.1);
}
/* interst */
.interest {
  background-color: var(--bg-color);
}
/* Conatct */
#contact {
  background-color: var(--bg-color);
}
.fa-brands {
  height: 30px;
  width: 30px;
}
.social-icon a {
  text-decoration: none;
  color: #000;
}
/* footer */
#footer {
  background-color: #4d4933;
}

  /* Media quary */

   /* small device */
   @media (max-width: 768px) {
    .cover {
        display: flex;
        flex-direction: column-reverse;
    }
    .cover-contain {
      text-align: center;
      padding: 10% 0;
      
    }
   
    .large-heading {
      font-size: 3rem;
    }
  
    

   }
 
  /* madiam device */
  
  @media (min-width: 768px) and (max-width: 992px) {
      .large-heading {
        font-size: 3rem;
      }
  }